---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: dlnp-ops-fe2
spec:
  gateways:
  - kubeflow/kubeflow-gateway
  hosts:
  - '*'
  http:
  - match:
    - uri:
        prefix: /ops-fe/
    rewrite:
        uri: /ops-fe/
    route:
    - destination:
        port:
          number: 80
        host: dlnp-ops-fe
    timeout: 300s