apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "dlnp-ops-be.fullname" . }}-cluster-role
  labels:
    app: ops-be
  {{- include "dlnp-ops-be.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - '*'
  verbs:
  - '*'
